
    <div class="row mb-2 user-blogpost-names-list-item">
      <div class="col-md-8">
        <h4><a
                class="user-blogpost-names-list-item-link"
                href="/api/post/{{posts.id}}"
              >{{posts.name}}</a></h4>
          </div>
          <div class="col-md-6 created-by">
            <p><span id="blogpost-id">{{id}}</span>
              Created on: 
              {{format_date posts.date_created}}</p>
          </div>
          <h4><a href="/post/{{posts.id}}">{{posts.title}}</a></h4>
          <p href="/post/{{posts.id}}">{{posts.content}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn comment-btn" data-id="{{posts.id}}">Add Comment</button>
      </div>
    </div>
